@font-face { /*Hairline*/
    font-family: 'work_sans';
    src: url('fonts/worksans-hairline-webfont.woff2') format('woff2'),
    url('fonts/worksans-hairline-webfont.woff') format('woff');
    font-weight: 10;
    font-style: normal;
}

@font-face { /*Thin*/
    font-family: 'work_sans';
    src: url('fonts/worksans-thin-webfont.woff2') format('woff2'),
    url('fonts/worksans-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face { /*Extra Light*/
    font-family: 'work_sans';
    src: url('fonts/worksans-extralight-webfont.woff2') format('woff2'),
    url('fonts/worksans-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face { /*Light*/
    font-family: 'work_sans';
    src: url('fonts/worksans-light-webfont.woff2') format('woff2'),
    url('fonts/worksans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face { /*Regular*/
    font-family: 'work_sans';
    src: url('fonts/worksans-regular-webfont.woff2') format('woff2'),
    url('fonts/worksans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face { /*Medium*/
    font-family: 'work_sans';
    src: url('fonts/worksans-medium-webfont.woff2') format('woff2'),
    url('fonts/worksans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face { /*Semi Bold*/
    font-family: 'work_sans';
    src: url('fonts/worksans-semibold-webfont.woff2') format('woff2'),
    url('fonts/worksans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face { /*Bold*/
    font-family: 'work_sans';
    src: url('fonts/worksans-bold-webfont.woff2') format('woff2'),
    url('fonts/worksans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face { /*Extra Bold*/
    font-family: 'work_sans';
    src: url('fonts/worksans-extrabold-webfont.woff2') format('woff2'),
    url('fonts/worksans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face { /*Black*/
    font-family: 'work_sans';
    src: url('fonts/worksans-black-webfont.woff2') format('woff2'),
    url('fonts/worksans-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
