@import url('./font_work_sans.scss');
@import url('./menu.scss');
@import url('./player.scss');
@import url('./search.scss');
@import url('./splash.scss');
@import url('./toolbar.scss');
@import url('./songItem.scss');
@import url('./videoCard.scss');
@import url('./largeThumbnailCard.scss');
@import url('./artistCard.scss');

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    letter-spacing: -0.05em;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background: rgb(253,252,252) linear-gradient(-14deg, rgb(217,229,235), rgb(234,229,239), rgb(253,252,252));
    /* iOS 11 constants */
    padding-top: env(safe-area-inset-top);
    padding-top: const(safe-area-inset-top);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.main-area {
    flex: 1 1 0;
    position: relative;
    min-height: 0;
}

.main-content {
    padding: 4px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
