.menu-container {
    position: absolute;
    top: -4px;
    height: calc(100% + 4px);
    width: 100%;
    pointer-events: none;
    z-index: 10;
}

.menu-input {
    pointer-events: auto;
}

.menu-connect-container {
    width: 100%;
}

.menu-qr-code {
    width: 100%;
    text-align: center;
    display: block;
}

.menu-connect-alias {
    width: 100%;
    text-align: center;
    display: block;
}
