.search-full-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: silver 2px 2px 5px;
    padding: 20px 50px 15px 50px;
    max-width: 80vw;
    max-height: 60vh;
    overflow: hidden;
}

.search-loading-icon {
    display: inline-block;
    transform: translate(-50%, 0);
    margin-left: 50%;
}

.search-loading-text {
    text-align: center;
    padding-top: 5px;
    color: #7f7f7f;
    font-weight: 100;
}

.search-result-header {
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}

.search-result-container {
    border-top: solid 1px rgba(200,200,200,0.5);
    padding-top: 12px;
    padding-bottom: 20px;
}

.search-result-title {
    font-size: 20px;
    font-weight: 700;
}

.search-result-row {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    background-color: rgba(255,255,255,0.3);
    border-bottom: solid 1px rgba(200,200,200,0.3);
    border-top: solid 1px rgba(200,200,200,0.3);
}

.search-result-song-column {
    width: 350px;
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
}
