.song-item-song-icon {
    border-radius: 3px;
    width: 52px;
    height: 52px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.song-item-play-icon {
    fill: rgba(0, 0, 0, 0.5);
}

.song-item-details {
    width: 230px;
}

.song-item-faded {
    opacity: 0.4;
}

.song-item-song-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 215px;
    display: inline-block;
}

.song-item-song-explicit {
    color: rgb(114,114,117);
    font-size: 10px;
    display: inline-block;
    padding-left: 4px;
    line-height: 1px;
    transform: translate(0, -4px);
}

.song-item-song-artist {
    color: rgb(114,114,117);
    font-weight: 200;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 2px;
    max-width: 230px;
}

.song-item-song-album {
    color: rgb(114,114,117);
    font-weight: 200;
    font-size: 10px;
    line-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 230px;
}

.song-item-more-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25px;
    position: relative;
    fill: rgb(21,150,199);
    align-items: center;
    padding-bottom: 5px;
}
